# Node.js
node_modules/
npm-debug.log*

# Build output
/dist/
/build/
/.cache/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Compiled files
*.min.js
*.min.css

# Logs and databases
*.log
*.sqlite
*.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini
